
// Send pipeline status to Nextflow Tower endpoint
tower {
  enabled = false //true = '-with-tower' flag on launch time
  accessToken = 'nf-tower-api-key-here' //from tower.nf user account
}
// Run the pipeline in a container
docker.enabled = false //or '-with-docker' on command-line
process.container = 'broadinstitute/python-requests'